<!-- delete Contact Modal -->
<div id="deleteContactModal" class="modal" style="display:none;">
  <form id="deleteContactForm"
        method="post"
        action="{{ url_for('main.contact', action='delete') }}">
    <h2>Kontakt jetzt löschen?</h2>
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="contact_id" id="contact_id_input" value="">
    <p>Der Kontakt wird unwiderruflich gelöscht.</p>
    <div style="margin-top:1em;">
      <button type="submit">Löschen</button>
      <button type="button" id="cancelDelete">Abbrechen</button>
    </div>
    </form>
</div>

