{% extends 'base.html' %}

{% block title %}Login mismatch!{% endblock %}

{% block content %}
<head>
    <meta http-equiv="refresh" content="5;url={{ url_for('user.login') }}">
</head>
<div class="container-fluid">
        <h2>Login mismatch</h2>
        <p>Your Microsoft E-mail (<strong>{{ ms_email }}</strong>) does not match your mail used for local login (<strong>{{ local_email }}</strong>).</p>
        <p>Redirecting in 5 seconds to login page...</p>
        <p><a href="{{ url_for('user.login') }}">Click here, if redirect is not working!</a></p>
</div>

{% endblock %}